.header {
    /* Hintergrundfarbe aus dem indigo-pink Theme */
    background-color: #3F51B5;
    /* Zentriert ausrichten */
    text-align: center;
    /* Größere Schriftgröße */
    font-size: 24px;
    /* Optional: Abstand um die Überschrift herum */
    padding: 10px;
    /* Textfarbe, abhängig von Ihrem Farbschema */
    color: white;
}


.grid-container {
    display: grid;
    /* 2 Spalten */
    grid-template-columns: 1fr 2fr;
    /* 3 Zeilen mit automatischer Höhe */
    grid-template-rows: repeat(3, auto);
    /* Abstand zwischen den Zellen */
    grid-gap: 2px;
    /* Erhöhter Abstand zwischen den Spalten */
    grid-column-gap: 20px;
}

.label {
    text-align: right;
    // font-weight: bold;
}

.data {
    text-align: left;
}