<div class="header">Aktuelle Wettscheine</div>
<mat-accordion>
   <ng-container *ngIf="myData|async;let templateData">
      <mat-expansion-panel *ngFor="let data of templateData">
         <mat-expansion-panel-header>
            <mat-panel-title>
               {{ data.datum }} {{ data.status }}
            </mat-panel-title>
            <div>
               <div>Einsatz: {{ data.gesamtEinsatz }} </div>
               <div>Quote : {{ data.quote }}</div>
            </div>
         </mat-expansion-panel-header>
         <div class="panel-content">
            <ul>
               <ng-container *ngFor="let position of data.wettposition">
                  <mat-card>
                     <mat-card-subtitle>{{position.heimmannschaft}} - {{position.gastmannschaft}}
                        <ng-container *ngIf="position.endstand">
                           {{ position.endstand }} ({{ position.halbzeit }})
                        </ng-container>
                     </mat-card-subtitle>
                     <mat-card>
                        <mat-card-content class="grid-container">
                           <div class="label">Quote</div>
                           <div class="data">{{ position.quote }}</div>
                           <div class="label">Tipp</div>
                           <div class="data">{{ position.tipp }}</div>
                           <div class="label">Ergebnis</div>
                           <div class="data">{{ position.ergebnis }}</div>
                        </mat-card-content>
                     </mat-card>
                  </mat-card>
               </ng-container>
            </ul>
         </div>
      </mat-expansion-panel>
   </ng-container>

</mat-accordion>